@model IEnumerable<h37.Models.ViewModels.ProjectViewModel>
@{
    ViewBag.Title = "Index";
}

<section id="projectList">
    <h2>My projects</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-4 project table-bordered">
                <h3>Name: @Html.DisplayFor(x => item.projectName)</h3>
                <p>Number of files: @Html.DisplayFor(x => item.numberOfFiles)</p>
                @Html.ActionLink("Edit", "Edit", "Project", new { projectID = item.projectID }, new { @class = "btn btn-primary" })
            </div>
        }

        <div class="col-xs-4 project table-bordered">
            @using (Html.BeginForm())
            {
                @Html.ActionLink("Create Project", "CreateProject", "Project", new { area = "" }, new { @class = "btn btn-primary col-xs-4 project table-bordered", @id = "foo" })
            }
        </div>



    </div>
    <hr/>
    <h2>Projects shared with you</h2>
    <p>Ooops in progress</p>
</section>

<hr/>

<section id="createProject">
    @using (Html.BeginForm())
    {
        @Html.ActionLink("Create Project", "CreateProject", "Project", new { area = "" }, new { @class = "btn btn-primary" })
    }
</section>
