@model h37.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Index";
}

<section id="projectList">
    <h2>My projects</h2>
    <div class="row">
        @*
        * This section looks at the complete list of projects
        * that each user has created themselves and shows them
        * in order of when they were created.
        * It also creates the Edit, Delete and Configure buttons
        * and links the user to those pages if relevant.
        *@
        @foreach (var item in Model.projectList)
        {
            <div class="col-xs-4 project table-bordered">
                <h3 class="on-the-left">Name: @Html.DisplayFor(x => item.projectName)</h3>
                <p class="on-the-left">Number of files: @Html.DisplayFor(x => item.numberOfFiles)</p>
                @Html.ActionLink("Edit", "Edit", "Project", new { projectID = item.projectID }, new { @class = "btn btn-primary button-size-2" })
                @Html.ActionLink("Delete", "DeleteProject", "Project", new { projectID = item.projectID }, new { @class = "btn btn-danger button-size-2" })
                @Html.ActionLink("Configure", "Config", "Project", new { projectID = item.projectID}, new { @class = "btn btn-success button-size-2" })
            </div>
        }

        @*
        * This form allows the user to create a new project,
        * decide what to name it and of what type of file (c#, js)
        * the project will have.
        *@
        <div class="col-xs-4 project table-bordered">
            <section id="createProject">
                @using (Html.BeginForm("CreateProject", "Project", FormMethod.Post))
                {
                    <h3 id="information haus3">Create project</h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.createProject.projectName, "", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <input class="form-control left-float-input" id="projectName" name="projectName" placeholder="PROJECT NAME" type="text">
                            @Html.ValidationMessageFor(m => m.createProject.projectName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.createProject.projectType, "", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <div class="create-dropdown">
                                <select data-val="true" data-val-required="The projectType field is required." class="form-control btn btn-primary dropdown-toggle" id="projectType" name="projectType">
                                    <option selected="selected">Select type</option>
                                    <option value="0">js</option>
                                    <option value="1">cs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success button-size-5 create-btn" />
                        </div>
                    </div>
                }
            </section>
          </div>
    </div>
</section>
<hr />

        @*
        * This section is the same as the first one, which shows 
        * the projects the user has access to, except that in this
        * case, it generates and shows the projects a user has access
        * that other users have created and shared with them.
        *@
<section id="sharedProjectList">
    <h2>Projects shared with me</h2>
    <div class="row">
        @foreach (var item in Model.sharedProjectList)
        {
            <div class="col-xs-4 project table-bordered">
                <h3>Name: @Html.DisplayFor(x => item.projectName)</h3>
                <p>Number of files: @Html.DisplayFor(x => item.numberOfFiles)</p>
                @Html.ActionLink("Edit", "Edit", "Project", new { projectID = item.projectID }, new { @class = "btn btn-primary button-size-2" })
                @Html.ActionLink("Unsubscribe", "Unsubscribe", "User", new { projectID = item.projectID, userID = Model.userID }, new { @class = "btn btn-danger button-size-2" })
            </div>
        }
    </div>
</section>