@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="bar-of-right">
        <li>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-primary" })*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary primary-bigger" id="top-row-btn">Log off</a></li>
    </ul>
    }
}
else
{
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    if (path == "/Account/Login")
    {
        <ul class="bar-of-right">
            <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary top-row-btn primary-bigger", @id = "top-row-btn" })</li>
        </ul>
    }

    else if (path == "/Account/Register")
    {
        <ul class="bar-of-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "btn btn-success big-success-btn top-row-btn", @id = "top-row-btn" })</li>
        </ul>
    }

    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary top-row-btn primary-bigger", @id = "top-row-btn" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "btn btn-success big-success-btn top-row-btn", @id = "top-row-btn" })</li>

        <!--Original Register and Login links
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>-->
    }
}
