@using Microsoft.AspNet.Identity

    @*
    * This section checks if the user is logged in.
    * If the user is logged in, then the top right
    * corner will show a log off button for the user
    * to allow the user to log off.
    * If the user has not logged in then the top right
    * will show the user a button that takes them either
    * to the register or log in pages, depending on if
    * the user is on the log in page or register page.
    * If the user is in the Log in page, it will show a
    * register button, and vice versa if the user is on
    * the register page.
    *@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="bar-of-right">
        <li>
            <h4 class="User-Name">Logged in as: @Html.DisplayFor(x => User.Identity.Name)</h4>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-primary" })*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary primary-bigger" id="top-row-btn">Log off</a></li>
    </ul>
    }
}
else
{
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    if (path == "/Account/Login")
    {
        <ul class="bar-of-right">
            <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary top-row-btn primary-bigger", @id = "top-row-btn" })</li>
        </ul>
    }

    else if (path == "/Account/Register")
    {
        <ul class="bar-of-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "btn btn-success big-success-btn top-row-btn", @id = "top-row-btn" })</li>
        </ul>
    }

    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary top-row-btn primary-bigger", @id = "top-row-btn" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "btn btn-success big-success-btn top-row-btn", @id = "top-row-btn" })</li>

        <!--Original Register and Login links
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>-->
    }
}
