@model h37.Models.ViewModels.ProjectCreateViewModel
@{
    ViewBag.Title = "CreateProject";
}

<section id="createProject">
    @using (Html.BeginForm())
    {
        <h3 id="information">Fill in information about the project</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.projectName, "", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.projectName, new { @class = "form-control", @placeholder = "PROJECT NAME" })
                @Html.ValidationMessageFor(m => m.projectName,  "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.projectType, "", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.projectType, "Select type", new { htmlAttributes = new { @class = "form-control", } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    }
</section>

