@model h37.Models.ViewModels.ProjectEditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<section id="fileList">
    <div class="row">
        @foreach (var item in Model.fileList)
        {
            <div class="col-xs-4 project table-bordered">
                <h3>Name: @Html.DisplayFor(x => item.fileName)</h3>
                @Html.ActionLink("Edit", "EditFile", "Project", new { fileID = item.fileID }, new { @class = "btn btn-primary" })
            </div>
        }
        <div class="col-xs-4 project table-bordered">
            @using (Html.BeginForm("CreateFile", "Project"))
            {
                <h4>Create new File</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.createFile.fileName, "", new { @class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        <input class="form-control" id="fileName" name="fileName" placeholder="FILE NAME" type="text" value="">
                        @*Html.TextBoxFor(m => m.createFile.fileName, new { @class = "form-control", @placeholder = "FILE NAME", @name = "fileName"})*@
                        @Html.ValidationMessageFor(m => m.createFile.fileName, "", new { @class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.projectID, new { projectID = Model.projectID })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<!--This is the div for the ace editor-->
<div id="editor">
    function foo(items) {
    var x = "All this is syntax highlighted";
    return;
    }
</div>

<!--This is a script for the ace editor-->
@section scripts
{
    <script src="~/3rdParty/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
}

<section id="eventLog">
    <h2>Event log</h2>
    <div class="row">
        <div class="col-xs-3">
            Timestamp
        </div>
        <div class="col-xs-3">
            FileID
        </div>
        <div class="col-xs-3">
            UserID
        </div>
        <div class="col-xs-3">
            Type
        </div>
    </div>
    @foreach (var item in Model.eventList)
    {
        <div class="row">
            <div class="col-xs-3">
                @Html.DisplayFor(x => item.timestamp)
            </div>
            <div class="col-xs-3">
                @Html.DisplayFor(x => item.fileID)
            </div>
            <div class="col-xs-3">
                @Html.DisplayFor(x => item.userID)
            </div>
            <div class="col-xs-3">
                @Html.DisplayFor(x => item.type)
            </div>
        </div>
    }
</section>
