@model h37.Models.ViewModels.ProjectEditViewModel
@{
    ViewBag.Title = "Edit";
}

@*
    * Disables the save button if the user has
    * not selected a file to edit.
*@
<head>
    <script type="text/javascript">
        function load() {
            var selectedID = '@ViewBag.fileName';
            if(selectedID == "Please open file to edit")
            {
                document.getElementById("sav-btn").disabled = true;
            }
            else
            {
                document.getElementById("sav-btn").disabled = false;
            }
        };
    </script>
</head>



<body onload="load()">
    <h2 id="haus2">Project Name: @Html.DisplayFor(x => Model.projectName)</h2>
    <section id="fileList" class="editor-left">
        <div class="row">
            <h3 id="haus2">Files</h3>
            <hr />
            @*
            * Shows the user the list of of the files that
            * the user has access to in the project.
            *@
            @foreach (var item in Model.fileList)
            {
                <div class="col-xs-12 project table-bordered">
                    <h4 class="to-left">Name: @Html.DisplayFor(x => item.fileName)</h4>
                    <div class="to-right">
                        @Html.ActionLink("Edit", "EditFile", "Project", new { projectID = item.projectID, fileID = item.fileID }, new { @class = "btn btn-primary button-size-1" })
                        @Html.ActionLink("Delete", "DeleteFile", "Project", new { fileID = item.fileID }, new { @class = "btn btn-danger button-size-1" })
                    </div>
                </div>
            }
            <div class="col-xs-12 project table-bordered">
                @using (Html.BeginForm("CreateFile", "Project"))
            {
                    <h4>Create new File</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.createFile.fileName, "", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <input class="form-control left-float-input" id="fileName" name="fileName" placeholder="FILE NAME" type="text" value="">
                            @Html.ValidationMessageFor(m => m.createFile.fileName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(m => m.projectID, new { projectID = Model.projectID })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success button-size-3" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    @*
    * This section holds the code that allows the user to
    * create and add a new file to the current project.
    *@
<h3 id="haus3" class="editor-right">@Html.ViewBag.fileName</h3>
@using (Html.BeginForm("SaveFile", "Project", FormMethod.Post))
{
    <input id="content" name="content" type="hidden" value="">
    <input data-val="true" data-val-number="The field projectID must be a number." data-val-required="The projectID field is required." id="projectID" name="projectID" projectID=@Model.projectID type="hidden" value=@Model.projectID>
    <input data-val="true" data-val-number="The field fileID must be a number." data-val-required="The fileID field is required." id="fileID" name="fileID" fileID=@Request.Params["fileID"] type="hidden" value=@Request.Params["fileID"]>
    <input type="submit" value="Save" class="btn btn-success button-size-4" id="sav-btn" />
}
@Html.ActionLink("Configure Project", "Config", "Project", new { projectID = Model.projectID }, new { @class = "btn btn-success button-size-7" })
<!--This is the div for the ace editor-->
<div class="editor-right">
    <hr class="align-the-editor" />
    <div id="editor">
        @ViewBag.code
    </div>
</div>

    <!--This is a script for the ace editor-->
    @section scripts
{
        <script src="~/3rdParty/src/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            var fileID = @ViewBag.fileID;

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            $("form").submit(function () {
                $("#content").val(editor.getSession().getValue());
            });

            var codeHub = $.connection.codeHub;
            var silent = false;

            codeHub.client.onChange = function (changeData) {
                console.log(changeData);
                var cursorPos = editor.getCursorPosition();
                silent = true;
                editor.getSession().getDocument().applyDelta(changeData);
                silent = false;
            };

            $.connection.hub.start().done(function () {
                codeHub.server.joinFile(fileID);
                editor.on("change", function (obj) {
                    if (silent) 
                    {
                        return;
                    }
                    console.log(obj);
                    codeHub.server.onChange(obj, fileID);
                });
            });
        </script>
    }

    @*
    * This section is the Event Log. It shows a log to every user
    * in the project details about the project. It shows the users
    * When the edit took place, who was editing, the type of editing
    * done to the file and the name of the file that was edited.
    *@
    <div class="editor-right">
        <section id="eventLog">
            <h2>Event log</h2>
            <div class="row">
                <div class="col-xs-3">
                    Time
                </div>
                <div class="col-xs-3">
                    User
                </div>
                <div class="col-xs-3">
                    Type
                </div>
                <div class="col-xs-3">
                    File
                </div>
                <hr class="event-table" />
            </div>
            @foreach (var item in Model.eventList)
            {
                <div class="row">
                    <div class="col-xs-3">
                        @Html.DisplayFor(x => item.timestamp)
                    </div>
                    <div class="col-xs-3">
                        @Html.DisplayFor(x => item.userName)
                    </div>
                    <div class="col-xs-3">
                        @Html.DisplayFor(x => item.type)
                    </div>
                    <div class="col-xs-3">
                        @Html.DisplayFor(x => item.fileName)
                    </div>
                </div>
            }
        </section>
    </div>
</body>
